@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Change the width for vertical scrollbars */
  height: 8px; /* Change the height for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Change the color of the scrollbar handle */
  border-radius: 10px; /* Round the corners of the scrollbar handle */
}

::-webkit-scrollbar-track {
  background: rgba(
    0,
    0,
    0,
    0.1
  ); /* Change the background of the scrollbar track */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Sets the width to thin */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* thumb color and track color */
}
